* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.6s;
}

html, body {
    color: #252734;
    font-size: 14px;
    font-family: sans-serif;
    width: 100%;
    min-height: 600px;
}

/* TYPOGRAPHY */
a, a:active, a:visited, li {
    list-style: none;
    color: #252734;
    text-decoration: none;
}

a:hover {
    color: #13141a;
}

h1 {
    width: max-content;
    font-size: 2rem;
    margin: 30px auto;
}

h3 {
    width: max-content;
    font-size: 1.5rem;
    margin: 10px auto;
}

.topic {
    text-transform: capitalize;
    font-size: 2rem;
    text-align: left;
}

.sub-topic {
    text-transform: capitalize;
    font-size: 1.3rem;
    font-weight: bold;
    text-align: left;
    margin-top: 15px;
    margin-bottom: 10px;
}

.topic::after {
    display: block;
    height: 2px;
    background-color: #252734a3;
    content: " ";
    width: 40px;
    margin: 5px ;
}

.content {
    max-width: 750px;
}

.disc li {
    list-style-type: disc;
    margin-left: 15px;
    font-weight: 400;
    line-height: 2;
}

.circle li {
    list-style: circle;
    margin-left: 25px;
}

blockquote {
    padding: 0 1em;
    color: #6a737d;
    border-left: .25em solid #dfe2e5;
}

strong {
    letter-spacing: 0.5px;
}

.project-name {
    font-size: 1rem;
    font-weight: bold;
}

.project-desc {
    color: #41455ccc;
    margin: 15px 0px 20px 0px;
}

.project-lang {
    color: #41455c;
    font-size: 0.9rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.label {
    height: 13px;
    width: 13px;
    display: inline-block;
    margin-right: 5px;
    border-radius: 50%;
}

/* NAVIGATION */
nav {
    height: 100vh;
    width: 30%;
    min-width: 220px;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 997;
    background-color: #FFF;
    border-right: 1px solid #ebebeb;
}

.picture {
    height: 150px !important;
    width: 150px !important;
    overflow: hidden;
    border-radius: 50%;
    margin: auto;
}

.picture img{
    position: relative;
    top: -75px;
    left: -100px;
    height: 350px;
    width: 350px;
}

.group {
    width: max-content;
    margin: auto;
    text-align: center;
}

.group .icons {
    margin: 10px;
    font-size: 26px;
    margin-bottom: 20px;
}

.icons a {
    margin: 0px 10px;
}

.menu {
    padding: 0px 10px;
    width: 150px;
    margin: auto;
    border-top: 1px solid #e1e4e8;
}

.menu li {
    list-style: square;
    margin: 10px 0px;
}

.foot-icon {
    font-size: 18px;
    margin-top: 2px;
    margin-right: 5px;
}

footer {
    font-size: 13px;
    line-height: 1;
    width: max-content;
    position: absolute;
    bottom: 0px;
    margin-bottom: 20px;
    margin-left: 50%;
    transform: translateX(-50%);
}

/* CONTENT DIV FORMATTING */
section {
    width: 100%;
}

.container {
    width: 70%;
    margin-left: 30%;
}

.wrapper {
    width: 100%;
    padding: 30px;
}

.spacer {
    width: 100%;
    padding: 10px;
}

.btn {
    position: relative;
    display: inline-block;
    padding: 5px 16px;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid #1b1f2326;
    border-radius: 6px;
    color: #24292e;
    margin-top: 5px;
    background-color: #fafbfc;
    border-color: #1b1f2326;
    box-shadow: 0 1px 0 rgba(27,31,35,0.04), inset 0 1px 0 rgba(255,255,255,0.25);
}

.btn:hover {
    background-color: #f3f4f6;
    border-color: #1b1f2326;
}

.mobile-nav {
    padding-top: 100px;
    display: none;
}

.mobile-nav .title {
    z-index: 900;
    width: 100%;
    background-color: #FFF;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    position: fixed;
}

.nav-open {
    position: fixed;
    left: 20px;
    top: 28px;
    z-index: 999;
}

.project-box {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    padding: 16px;
    border: 1px solid #e1e4e8;
    border-radius: 6px;
    width: 45%;
    margin: 8px;
}

/* RESPONSIVENESS */
@media only screen and (max-width: 650px) {
    nav {
        left: -225px;
    }
    .container {
        width: 100%;
        margin-left: 0px;
    }
    .mobile-nav {
        display: block;
    }
}

@media only screen and (max-width: 450px) {
    .project-box {
        width: 95%;
    }
}
